.usy-select-container {
  display: flex;
  flex-direction: column;
  position: relative;

  &.disabled {
    opacity: var(--usy-element-disabled-opacity);
    pointer-events: none;
    cursor: not-allowed;
  }
}
