:root {
  --usy-color-blue-0: #33a6ff;
  --usy-color-blue-1: #1a9bff;
  --usy-color-blue-2: #0090ff;
  --usy-color-blue-3: #0082e6;
  --usy-color-blue-4: #0073cc;
  --usy-color-blue-5: #0065b3;
  --usy-color-blue-6: #005699;
  --usy-color-blue-7: #004880;
  --usy-color-blue-8: #003a66;
  --usy-color-blue-9: #002b4d;
}
