:root {
  --usy-fontweight-thin: 100;
  --usy-fontweight-light: 200;
  --usy-fontweight-semilight: 300;
  --usy-fontweight-normal: 400;
  --usy-fontweight-semibold: 500;
  --usy-fontweight-bold: 600;
  --usy-fontweight-heavy: 700;
}
