.usy-radio-group-container {
  &.disabled {
    opacity: var(--usy-element-disabled-opacity);
    pointer-events: none;
  }

  .radio-group-container {
    display: flex;
    padding: var(--usy-spacing-10px) 0;

    &.direction-horizontal {
      align-items: center;
      flex-direction: row;
      gap: var(--usy-spacing-20px);
    }

    &.direction-vertical {
      flex-direction: column;
      gap: var(--usy-spacing-12px);
    }

    .radio-item {
      display: block;
      cursor: pointer;

      .input {
        display: none;
      }

      .label {
        display: flex;
        align-items: center;
        font-size: var(--usy-fontsize-medium);

        &::before {
          content: "";
          display: inline-block;
          background-color: var(--usy-color-white);
          width: var(--usy-spacing-20px);
          height: var(--usy-spacing-20px);
          border-radius: 50%;
          margin-right: var(--usy-spacing-6px);
          transition: 0.25s ease;
          box-shadow: inset 0 0 0 var(--usy-spacing-2px)
            var(--usy-color-light-9);
        }
      }

      .input:checked + .label::before {
        box-shadow: inset 0 0 0 var(--usy-spacing-6px) var(--usy-color-primary);
      }
    }
  }
}
