:root {
  --usy-color-amber-0: #ffd470;
  --usy-color-amber-1: #ffcd57;
  --usy-color-amber-2: #ffc53d;
  --usy-color-amber-3: #ffbd24;
  --usy-color-amber-4: #ffb60a;
  --usy-color-amber-5: #f0a800;
  --usy-color-amber-6: #d69600;
  --usy-color-amber-7: #bd8400;
  --usy-color-amber-8: #a37200;
  --usy-color-amber-9: #8a6000;
}
