:root {
  --usy-color-dark-0: #666666;
  --usy-color-dark-1: #5c5c5c;
  --usy-color-dark-2: #525252;
  --usy-color-dark-3: #474747;
  --usy-color-dark-4: #3d3d3d;
  --usy-color-dark-5: #333333;
  --usy-color-dark-6: #292929;
  --usy-color-dark-7: #1f1f1f;
  --usy-color-dark-8: #141414;
  --usy-color-dark-9: #0a0a0a;
}
