:root {
  --usy-spacing-2px: 2px;
  --usy-spacing-4px: 4px;
  --usy-spacing-6px: 6px;
  --usy-spacing-8px: 8px;
  --usy-spacing-10px: 10px;
  --usy-spacing-12px: 12px;
  --usy-spacing-14px: 14px;
  --usy-spacing-16px: 16px;
  --usy-spacing-18px: 18px;
  --usy-spacing-20px: 20px;
  --usy-spacing-24px: 24px;
  --usy-spacing-28px: 28px;
  --usy-spacing-32px: 32px;
  --usy-spacing-40px: 40px;
  --usy-spacing-48px: 48px;
  --usy-spacing-56px: 56px;
  --usy-spacing-64px: 64px;
  --usy-spacing-72px: 72px;
  --usy-spacing-80px: 80px;
}
