:root {
  --usy-color-red-0: #eb7578;
  --usy-color-red-1: #e85e63;
  --usy-color-red-2: #e5484d;
  --usy-color-red-3: #e23237;
  --usy-color-red-4: #db1f25;
  --usy-color-red-5: #c51c21;
  --usy-color-red-6: #ae191e;
  --usy-color-red-7: #98161a;
  --usy-color-red-8: #821216;
  --usy-color-red-9: #6b0f12;
}
