.usy-scrollable-container {
  overflow: hidden;

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 3px;
  }

  &.scroll-vertical {
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: var(--usy-spacing-10px);
  }

  &.scroll-horizontal {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: var(--usy-spacing-10px);
  }

  &.scroll-both {
    overflow-x: hidden;
    overflow-y: auto;
  }

  &.scroll-vertical:hover,
  &.scroll-horizontal:hover,
  &.scroll-both:hover {
    &::-webkit-scrollbar-track {
      background-color: var(--usy-color-light-1);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--usy-color-light-3);
      border-radius: 6px;
    }
  }
}
