.usy-modal-overlay {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.usy-modal-container {
  width: 100%;
  min-height: 100px;
  margin: -8vh var(--usy-spacing-14px) 0;
  border-radius: var(--usy-spacing-16px);
  border: 1px solid var(--usy-color-light-1);
  background-color: var(--usy-color-white);
  padding: var(--usy-spacing-20px) var(--usy-spacing-20px)
    var(--usy-spacing-32px);
  position: relative;

  .header-close {
    width: var(--usy-spacing-24px);
    height: var(--usy-spacing-24px);
    padding: var(--usy-spacing-2px);
    position: absolute;
    top: var(--usy-spacing-12px);
    right: var(--usy-spacing-12px);
    border-radius: var(--usy-spacing-2px);
    cursor: pointer;

    &:hover {
      path {
        stroke: var(--usy-color-dark-1);
      }
    }

    path {
      stroke: var(--usy-color-light-9);
    }
  }
}
