.usy-dropdown-menu-overlay {
  position: absolute;
  padding: var(--usy-spacing-6px) 0;
  border: 1px solid var(--usy-element-border-color);
  border-radius: var(--usy-element-border-radius);
  background-color: var(--usy-color-white);
  filter: drop-shadow(0px 0px 6px var(--usy-color-light-2));

  &.position-top {
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(calc(-100% - var(--usy-spacing-6px)));
  }

  &.position-bottom {
    top: calc(100% + var(--usy-spacing-6px));
    left: 50%;
    transform: translateX(-50%) translateY(0);
  }

  ul {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
