:root {
  --usy-color-white: #ffffff;
  --usy-color-black: #000000;

  --usy-color-gray: #696e77;
  --usy-color-gold: #978365;
  --usy-color-bronze: #a18072;
  --usy-color-brown: #ad7f58;
  --usy-color-yellow: #ffe629;
  --usy-color-amber: #ffc53d;
  --usy-color-orange: #f76b15;
  --usy-color-tomato: #e54d2e;
  --usy-color-red: #e5484d;
  --usy-color-ruby: #e54666;
  --usy-color-crimson: #e93d82;
  --usy-color-pink: #d6409f;
  --usy-color-plum: #ab4aba;
  --usy-color-purple: #8e4ec6;
  --usy-color-violet: #6e56cf;
  --usy-color-iris: #5b5bd6;
  --usy-color-indigo: #3e63dd;
  --usy-color-blue: #0090ff;
  --usy-color-cyan: #00a2c7;
  --usy-color-teal: #12a594;
  --usy-color-jade: #29a383;
  --usy-color-green: #30a46c;
  --usy-color-grass: #46a758;
  --usy-color-lime: #bdee63;
  --usy-color-mint: #86ead4;
  --usy-color-sky: #7ce2fe;
}
