:root {
  --usy-color-green-0: #40c786;
  --usy-color-green-1: #36b879;
  --usy-color-green-2: #30a46c;
  --usy-color-green-3: #2a905f;
  --usy-color-green-4: #247d52;
  --usy-color-green-5: #1f6945;
  --usy-color-green-6: #195538;
  --usy-color-green-7: #13412b;
  --usy-color-green-8: #0d2e1e;
  --usy-color-green-9: #081a11;
}
