.usy-table-container {
  .table-container {
    .has-outer-border {
      border: 1px solid var(--usy-color-light-2);
      border-radius: var(--usy-spacing-6px);
    }

    .table {
      width: 100%;
      border-collapse: collapse;

      .head .head-row .head-column,
      .body .body-row .body-column {
        & > * {
          display: inline-block;
        }

        &.align-left {
          text-align: left;
        }

        &.align-center {
          text-align: center;
        }

        &.align-right {
          text-align: right;
        }
      }

      .head {
        .head-row {
          height: var(--usy-spacing-40px);
          border-bottom: 1px solid var(--usy-color-light-2);
          background-color: var(--usy-color-light-0);

          .head-column {
            color: var(--usy-color-dark-2);
            font-size: var(--usy-fontsize-medium);
            font-weight: var(--usy-fontweight-semibold);
            padding: var(--usy-spacing-6px) var(--usy-spacing-14px);
            text-align: left;
          }
        }
      }

      .body {
        .body-row {
          height: var(--usy-spacing-40px);
          border-bottom: 1px solid var(--usy-color-light-2);

          &:last-child {
            border-bottom: none;
          }

          .body-column {
            font-size: var(--usy-fontsize-medium);
            padding: var(--usy-spacing-6px) var(--usy-spacing-14px);
          }
        }
      }
    }
  }
}
