:root {
  --usy-element-height-tiny: 24px;
  --usy-element-height-small: 30px;
  --usy-element-height-medium: 40px;
  --usy-element-height-large: 48px;

  --usy-element-border-radius: 4px;
  --usy-element-border-color: #ccc;

  --usy-element-disabled-opacity: 0.6;

  --usy-element-icon-color-light: #3d3d3d;
  --usy-element-icon-color-dark: #1f1f1f;
}
