.usy-field-label-container {
  display: inline-block;
  margin: 0 0 var(--usy-spacing-6px) var(--usy-spacing-2px);
  font-size: var(--usy-fontsize-medium);
  font-weight: var(--usy-fontweight-semibold);
  user-select: none;

  .asterisk {
    color: var(--usy-color-red);
    margin-left: var(--usy-spacing-4px);
  }
}
