.usy-drawer-footer-container {
  min-height: 60px;
  border-top: 1px solid var(--usy-color-light-2);
  padding: var(--usy-spacing-4px) var(--usy-layout-horizontal-padding);
  background-color: var(--usy-color-white);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--usy-spacing-16px);

  &.align-content-left {
    justify-content: flex-start;
  }

  &.align-content-center {
    justify-content: center;
  }

  &.align-content-right {
    justify-content: right;
  }
}
