:root {
  --usy-fontsize-tiny: 0.7rem;
  --usy-fontsize-small: 0.8rem;
  --usy-fontsize-medium: 0.9rem;
  --usy-fontsize-large: 1.1rem;
  --usy-fontsize-huge: 1.35rem;
  --usy-fontsize-gigant-1: 1.6rem;
  --usy-fontsize-gigant-2: 1.9rem;
}
