:root {
  --usy-zIndex-100: 100;
  --usy-zIndex-200: 200;
  --usy-zIndex-300: 300;
  --usy-zIndex-400: 400;
  --usy-zIndex-500: 500;
  --usy-zIndex-600: 600;
  --usy-zIndex-700: 700;
  --usy-zIndex-800: 800;
  --usy-zIndex-900: 900;

  --usy-zIndex-base: 100;
  --usy-zIndex-medium: 400;
  --usy-zIndex-high: 700;
  --usy-zIndex-latest: 999;
}
